.history/                                                                                                                                                                                     
**/context                                                                                                                                                                                    
**/context/*                                                                                                                                                                                  
**/files                                                                                                                                                                                      
**/files/*                                                                                                                                                                                    
**/ansible.cfg
